<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.learn.group3">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Deutsch Reisen"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity"
            android:label="Deutsch Reisen"/>
        <activity android:name=".Splashscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Login"
            android:label="Deutsch Reisen"/>
        <activity android:name=".Home"
            android:label="Deutsch Reisen"/>
        <activity android:name=".ExerciseListening"
            android:label="Deutsch Reisen"/>
        <activity android:name=".ExerciseSpeaking"
            android:label="Deutsch Reisen"/>
    </application>

</manifest>